
<!-- This launch file launches minimal and the camera node for teleop control while calibrating camers -->

<launch>
  <arg name="robot_name" value="$(env ROBOT)" />
       <arg name="rob" /> <!-- necessary to know which robber to catch -->
	<arg name="catch_dist" default="0.5" />


  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
  </include>	

<group ns="$(arg robot_name)">

<!-- Playstation I pkg -->
  <node name="camera" pkg="uvc_camera" type="uvc_camera_node" /> 
  <node name="image_processing" pkg="image_proc" type="image_proc"/> 

  <node name="theora_republisher" pkg="image_transport" type="republish" args="raw in:=camera/rgb/image_color theora out:=image_compressed" />

</group>

<include file="/home/odroid/catkin_ws/src/cohrint_turtlebot/cnr/bot_caught/launch/caught.launch">
    <arg name="catch_dist" value="$(arg catch_dist)" />
    <arg name="cop_name" value="$(arg robot_name)" />
    <arg name="rob_name" value="$(arg rob)" />
  </include> 

</launch>
